<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>
  <div class="container">
    <div class="row">
      <% @books.each do |book| %>
        <div class="col-md-3">
          <div class="book">
            <div class="book_title"><strong>Title:</strong>: <%= book.title %></div>
            <div class="book_price"><strong>Price</strong>: $<%= book.price %></div>
            <div class="book_category"><strong>Category</strong>: <%= book.category %></div>
            <%= link_to 'View Book', book %>


            <!-- ADMIN LINKS -->
            <%= link_to 'Edit', edit_book_path(book) %>
            <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>

            <!-- END ADMIN LINKS -->
          </div>
        </div>
      <% end %>
    </div>
  </div>

<br>

<!-- ADMIN LINKS --
<%= link_to 'New Book', new_book_path %>
<!-- END ADMIN LINKS -->
