<div class="container">
  <div class="row">
    <h1>Cart</h1>
  </div>
  <div class="row">
    <% if @cart_books.size > 0 %>
      <% @cart_books.each do |book| %>
        <%= link_to book do%>
        <div class="col-md-4">
          <div class="book">
            <div class="book_title">
              <h3><%= book.title %></h3>
            </div>
            <div class="book_author"><strong>Author</strong>: <%= book.author %></div>
            <div class="book_price"><strong>Price</strong>: <%= number_to_currency(book.price) %></div>
            <div class="book_category"><strong>Category</strong>: <%= book.category %></div>
       <% end %>
      <%=link_to "Remove From Cart", remove_from_cart_path(book), :method => :put %>
          </div>
        </div>
      <% end %>
      </div>
      <div class="row">
        <h4>Cart Total: <%= number_to_currency(@total) %></h4>
        <% if user_signed_in? %>
          <%= link_to "Checkout", root %>
        <% else %>
          <span class="">Please <%= link_to "sign in", new_user_session_path %> before checking out!</span>
        <% end %>
      </div>
    <% else %>
      <div class="">
        <h4>Cart is Empty</h4>
      </div>
    <% end %>

</div>
